.navigate-top-enter {
  opacity: 0;
}

.navigate-top-enter-active {
  opacity: 1;
  transition: opacity .1s;
}

.lnavigate-topert-exit {
  opacity: 1;
}

.navigate-top-exit-active {
  opacity: 0;
  transition: opacity .1s;
}
