body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  font-weight: 500;
}

.icon-heart:before {
  content: "\2665";
  color: #fbc91b;
  width: .75rem!important;
}

a {
  text-decoration: none;
}